%footer#app-footer
  %p
    An
    %a{ href: 'http://openwichita.com', target: '_blank' } Open Wichita
    project, based on
    %a{ href: 'https://github.com/codeforamerica/ohana-web-search' } work by Code for America
    %span.cfaflag
    -# developed in partnership with the
    -# %a{ href: 'http://www.co.sanmateo.ca.us/portal/site/humanservices', target: '_blank' } San Mateo County Human Services Agency
    -# and a
    -# #{link_to 'grant from the Knight Foundation', 'http://www.knightfoundation.org/grants/201447979/', target: '_blank'}.

  %p.get-this-app
    %i.fa.fa-bullhorn
    %a{ href: 'https://github.com/codeforamerica/ohana-web-search' } Get this app
    for your city
    -# or #{link_to 'view project details', 'http://ohanapi.org'}.

  #google-translate-container
